<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet"> 
<style>
*{
	font-family: Fjalla One;
  margin: 0;
	border: 0;
	padding: 0;
	color: white;
}

html{
  background-color: #FFFFFF;
}

.ptable table{
	margin: 30px auto;
	border-collapse: collapse;
}

.ptable{
	margin: 0px 0% 30px 0%;
}

th, td {
    padding: 10px;
}

th{
	background-color: black;
	color: #ffe221;
}

.headin{
	text-align: center;
	text-decoration: none;
	color: #000000;
	margin: 30px;
	display: block;
}

.wpos{
	text-align: center;
}

.wpos td{
	color: #4a4242;
}

.pos{
	text-align: center;
}

.pos td{
	color: #ff7b21;
}

table .col{
	border-bottom: 1px solid #FFFFFF;
}

.wpos:hover{
	background-color: #77ff21;
}

.wpos:hover td{
	color: #000000;
}

.pos:hover{
	background-color: #ff7b21;
}

.pos:hover td{
	color: #000000;
}
body {
  display:grid;
  grid-template-columns: 1fr ;
  /* background-color: #000000; */
}
.comments{
  width: 100px;
  height: 100px;
  /* background-color: #4a4242; */
}
.navbar-nav{
    width: 100%;
}

@media(min-width:568px){
    .end{
        margin-left: auto;
    }
}

@media(max-width:768px){
    #post{
        width: 100%;
    }
}
#clicked{
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    width: 100%;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px; 
}

#profile{
    background-color: unset;
    
} 

#post{
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%;
}


#nav-items li a,#profile{
    text-decoration: none;
    color: rgb(224, 219, 219);
    background-color: black;
}


.comments{
    margin-top: 5%;
    margin-left: 20px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  height: 50px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

  </style>
<head>
	<div class="topnav">
    <% if (ath) { %>
      <a href="/logout">Logout</a>
    <% } else { %>
		<a href="/login">Login</a>
    <% } %>
    <a href="/">League</a>
    <a href="/mw">Matchweek</a>
    <a href="/comments">Comments</a>
    <% if (ath) { %>
      <a>Logged in as: <%=nick%></a>
    <% }%>

	  </div>
</head>
<body>

	<div class="ptable">
		<h1 class="headin">Standings</h1>
						  <table>
							  <tr class="col">
								  <th>#</th>
								  <th>Team</th>
								  <th>W</th>
								  <th>D</th>
								  <th>L</th>
								  <th>GD</th>
								  <th>PTS</th>
							  </tr>
				  <% for (let i = 0; i < data.length; i++) {%>
					<tr class="wpos">
            <td><%=i+1%></td>
					  <% for (var cell of data[i]) {%>
						<td>
						<%=cell%>
						</td>
						<%  }%>
					</tr>
	  
				  <%  }%>
	  
	  
						  </table>
	  </div>
<div class="comments">
</div>
</body>